<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='now-ui-kit.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/nucleo-icons.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='assets/js/navbar-ontop.js') }}"></script>
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
{% block nav %}{% include "nav.html" %}{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='assets/js/parallax.js') }}"></script>
</body>

</html>