<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center d-md-flex align-items-center">
                <ul class="nav d-flex justify-content-center">
                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('course') }}">Courses</a></li>
                </ul>
                <i class="d-block mx-auto text-primary"></i>
                <p class="mb-0 py-1">©2020</p>
            </div>
        </div>
    </div>
</div>