{% extends 'base.html' %}
{% block title %}Select a course{% endblock %}
{% block content %}
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h2">Please select a course.</h1>
                    <p>You are signed in as {{ name }}.</p>

                    <div class="list-group">
                        {% for course in courses %}
                            <a href="{{ url_for('show_grade', course_id=course.id) }}"
                               class="list-group-item list-group-item-action">{{ course.name }}</a>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}